.info-footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 6.6rem !important;
}
h4 {
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-bottom: 1rem !important;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.footer-input {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

.footer-input input {
  margin-top: 1rem;
  border-radius: 13px;
  width: 14rem;
  height: 2.5rem;
  left: 5px;
}

.sabonne {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 1.8rem;
  margin-top: 1rem;
  left: 8.6rem;
  border-radius: 9px !important;
  position: absolute;
}

.footer-reseau-sociaux {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.1rem;
}
