.navbar {
  position: fixed !important;
  justify-content: space-between !important;
  gap: 5rem;
  color: #000000 !important;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.47) !important;
  height: 6rem;
  width: 100%;
  padding: 25px !important;
  z-index: 100000000 !important;
}
.linknav {
  margin-left: 1rem;
}

.header-compte {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.usercompte {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #d30731;
  color: #fff;
  border: 1px solid #d30731;
  border-radius: 50%;
}

.usericon-l {
  color: #fff !important;
  fill: #fff !important;
  border: #fff !important;
  font-size: 12px !important;
}

.phoneNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.phoneicon {
  font-weight: 100 !important;
  color: #fff;
}

.phoneIcon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #d30731;
  color: #fff;
  border: 1px solid #d30731;
  border-radius: 50%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popup {
  animation: popup 0.3s ease-out forwards;
}
