.body-propriete {
}

.leaflet-control-zoom {
  z-index: -1000 !important;
}

.containt-map {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
}
.p-4 {
  width: 100%;
}

.containt-map-children {
  width: 100%;
  height: 100%;
}

.searche-bar {
  margin-top: -6rem !important;
  z-index: 10000;
}

.searche-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10000;
}

.leaflet-bottom {
  margin-left: 0rem !important;
  margin-bottom: 24rem !important;
  margin-top: 0 !important;
}

.marker {
  color: black !important;
  background-color: black !important;
}

.leaflet-control-zoom {
  margin-top: 12rem !important;
}

.leaflet-control-attribution {
  position: absolute !important;
  margin-top: 0rem !important;
}
