
.video-background {
    background-color: rgba(0, 0, 0, 0.645);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Overlay sombre pour améliorer la lisibilité */
.video-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Un overlay semi-transparent */
    z-index: 0; /* Au-dessus de la vidéo mais en dessous du contenu */
}

.content {
    position: relative;
    z-index: 1; /* Place le contenu au-dessus de l'overlay et de la vidéo */
    color: white;
    text-align: center;
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Ajoutez d'autres styles pour votre contenu ici */
}